@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Ubuntu:wght@300;400;500;700&display=swap');

$font-family-sans-serif : 'Montserrat', sans-serif;
$border-radius: 1.25rem;
$primary : #6366f1;



@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../src/custom.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css"